.flag {
    height: 60px;
    background: url('../images/flags.png') no-repeat top left;
}

.flag-afghanistan { background-position: 0 0; width: 90px; }
.flag-albania { background-position: 0 -61px; width: 84px; }
.flag-algeria { background-position: 0 -122px; width: 90px; }
.flag-andorra { background-position: 0 -183px; width: 86px; }
.flag-angola { background-position: 0 -244px; width: 90px; }
.flag-antigua_and_barbuda { background-position: 0 -305px; width: 90px; }
.flag-argentina { background-position: 0 -366px; width: 96px; }
.flag-armenia { background-position: 0 -427px; width: 120px; }
.flag-australia { background-position: 0 -488px; width: 120px; }
.flag-austria { background-position: 0 -549px; width: 90px; }
.flag-azerbaijan { background-position: 0 -610px; width: 120px; }
.flag-bahrain { background-position: 0 -671px; width: 101px; }
.flag-bangladesh { background-position: 0 -733px; width: 101px; }
.flag-barbados { background-position: 0 -795px; width: 90px; }
.flag-belarus { background-position: 0 -856px; width: 120px; }
.flag-belgium { background-position: 0 -917px; width: 69px; }
.flag-belize { background-position: 0 -978px; width: 90px; }
.flag-benin { background-position: 0 -1039px; width: 90px; }
.flag-bhutan { background-position: 0 -1100px; width: 90px; }
.flag-bolivia { background-position: 0 -1161px; width: 89px; }
.flag-bosnia { background-position: 0 -1223px; width: 120px; }
.flag-botswana { background-position: 0 -1284px; width: 90px; }
.flag-brazil { background-position: 0 -1345px; width: 86px; }
.flag-brunei { background-position: 0 -1406px; width: 120px; }
.flag-bulgaria { background-position: 0 -1467px; width: 101px; }
.flag-burkina_faso { background-position: 0 -1529px; width: 90px; }
.flag-burundi { background-position: 0 -1590px; width: 101px; }
.flag-cambodia { background-position: 0 -1652px; width: 95px; }
.flag-cameroon { background-position: 0 -1714px; width: 90px; }
.flag-canada { background-position: 0 -1775px; width: 120px; }
.flag-cape_verde { background-position: 0 -1836px; width: 102px; }
.flag-chad { background-position: 0 -1897px; width: 90px; }
.flag-chile { background-position: 0 -1958px; width: 90px; }
.flag-colombia { background-position: -121px 0; width: 90px; }
.flag-costa_rica { background-position: -121px -61px; width: 101px; }
.flag-ivory_coast { background-position: -121px -123px; width: 90px; }
.flag-croatia { background-position: -121px -184px; width: 120px; }
.flag-cuba { background-position: -121px -245px; width: 120px; }
.flag-cyprus { background-position: -121px -306px; width: 90px; }
.flag-denmark { background-position: -121px -367px; width: 80px; }
.flag-djibouti { background-position: -121px -429px; width: 90px; }
.flag-dominica { background-position: -121px -490px; width: 120px; }
.flag-east_timor { background-position: -121px -551px; width: 120px; }
.flag-ecuador { background-position: -121px -612px; width: 90px; }
.flag-egypt { background-position: -121px -673px; width: 90px; }
.flag-el_salvador { background-position: -121px -734px; width: 107px; }
.flag-equatorial_guinea { background-position: -121px -795px; width: 90px; }
.flag-eritrea { background-position: -121px -856px; width: 120px; }
.flag-estonia { background-position: -121px -917px; width: 95px; }
.flag-ethiopia { background-position: -121px -978px; width: 120px; }
.flag-fiji { background-position: -121px -1039px; width: 120px; }
.flag-finland { background-position: -121px -1100px; width: 99px; }
.flag-france { background-position: -121px -1162px; width: 90px; }
.flag-gabon { background-position: -121px -1223px; width: 80px; }
.flag-georgia { background-position: -121px -1284px; width: 90px; }
.flag-germany { background-position: -121px -1345px; width: 101px; }
.flag-ghana { background-position: -121px -1407px; width: 90px; }
.flag-greece { background-position: -121px -1468px; width: 90px; }
.flag-grenada { background-position: -121px -1529px; width: 101px; }
.flag-guatemala { background-position: -121px -1591px; width: 96px; }
.flag-guinea-bissau { background-position: -121px -1652px; width: 120px; }
.flag-guinea { background-position: -121px -1713px; width: 90px; }
.flag-guyana { background-position: -121px -1774px; width: 101px; }
.flag-haiti { background-position: -121px -1836px; width: 101px; }
.flag-honduras { background-position: -121px -1898px; width: 120px; }
.flag-hungary { background-position: -121px -1959px; width: 120px; }
.flag-iceland { background-position: -242px 0; width: 84px; }
.flag-india { background-position: -242px -61px; width: 90px; }
.flag-indonesia { background-position: -242px -122px; width: 90px; }
.flag-iran { background-position: -242px -183px; width: 105px; }
.flag-iraq { background-position: -242px -244px; width: 90px; }
.flag-ireland { background-position: -242px -305px; width: 120px; }
.flag-israel { background-position: -242px -366px; width: 83px; }
.flag-italy { background-position: -242px -427px; width: 90px; }
.flag-jamaica { background-position: -242px -488px; width: 120px; }
.flag-japan { background-position: -242px -549px; width: 90px; }
.flag-jordan { background-position: -242px -610px; width: 120px; }
.flag-kazakhstan { background-position: -242px -671px; width: 120px; }
.flag-kenya { background-position: -242px -732px; width: 90px; }
.flag-kiribati { background-position: -242px -793px; width: 120px; }
.flag-kuwait { background-position: -242px -854px; width: 120px; }
.flag-kyrgyzstan { background-position: -242px -915px; width: 101px; }
.flag-laos { background-position: -242px -977px; width: 90px; }
.flag-latvia { background-position: -242px -1038px; width: 120px; }
.flag-lebanon { background-position: -242px -1099px; width: 90px; }
.flag-lesotho { background-position: -242px -1160px; width: 90px; }
.flag-liberia { background-position: -242px -1221px; width: 114px; }
.flag-libya { background-position: -242px -1282px; width: 120px; }
.flag-liechtenstein { background-position: -242px -1343px; width: 101px; }
.flag-lithuania { background-position: -242px -1405px; width: 101px; }
.flag-luxembourg { background-position: -242px -1467px; width: 101px; }
.flag-macedonia { background-position: -242px -1529px; width: 120px; }
.flag-madagascar { background-position: -242px -1590px; width: 90px; }
.flag-malawi { background-position: -242px -1651px; width: 90px; }
.flag-malaysia { background-position: -242px -1712px; width: 120px; }
.flag-maldives { background-position: -242px -1773px; width: 90px; }
.flag-mali { background-position: -242px -1834px; width: 90px; }
.flag-malta { background-position: -242px -1895px; width: 90px; }
.flag-mauritania { background-position: -242px -1956px; width: 90px; }
.flag-mauritius { background-position: -363px 0; width: 90px; }
.flag-mexico { background-position: -363px -61px; width: 105px; }
.flag-micronesia { background-position: -363px -122px; width: 114px; }
.flag-moldova { background-position: -363px -183px; width: 120px; }
.flag-monaco { background-position: -363px -244px; width: 75px; }
.flag-mongolia { background-position: -363px -305px; width: 120px; }
.flag-montenegro { background-position: -363px -366px; width: 120px; }
.flag-morocco { background-position: -363px -427px; width: 90px; }
.flag-mozambique { background-position: -363px -488px; width: 90px; }
.flag-myanmar { background-position: -363px -549px; width: 90px; }
.flag-namibia { background-position: -363px -610px; width: 90px; }
.flag-nauru { background-position: -363px -671px; width: 120px; }
.flag-nepal { background-position: -363px -732px; width: 50px; }
.flag-new_zealand { background-position: -363px -794px; width: 120px; }
.flag-nicaragua { background-position: -363px -855px; width: 101px; }
.flag-niger { background-position: -363px -917px; width: 71px; }
.flag-nigeria { background-position: -363px -979px; width: 120px; }
.flag-north_korea { background-position: -363px -1040px; width: 120px; }
.flag-norway { background-position: -363px -1101px; width: 83px; }
.flag-oman { background-position: -363px -1162px; width: 120px; }
.flag-pakistan { background-position: -363px -1223px; width: 90px; }
.flag-palau { background-position: -363px -1284px; width: 96px; }
.flag-palestine { background-position: -363px -1345px; width: 120px; }
.flag-panama { background-position: -363px -1406px; width: 90px; }
.flag-papua_new_guinea { background-position: -363px -1467px; width: 80px; }
.flag-paraguay { background-position: -363px -1528px; width: 101px; }
.flag-peru { background-position: -363px -1590px; width: 90px; }
.flag-poland { background-position: -363px -1651px; width: 96px; }
.flag-portugal { background-position: -363px -1712px; width: 90px; }
.flag-qatar { background-position: -363px -1773px; width: 153px; }
.flag-romania { background-position: -363px -1834px; width: 90px; }
.flag-russia { background-position: -363px -1895px; width: 90px; }
.flag-rwanda { background-position: -363px -1956px; width: 90px; }
.flag-saint_kitts_and_nevis { background-position: -517px 0; width: 90px; }
.flag-saint_lucia { background-position: -517px -61px; width: 120px; }
.flag-saint_vincent_and_grenadines { background-position: -517px -122px; width: 90px; }
.flag-samoa { background-position: -517px -183px; width: 120px; }
.flag-san_marino { background-position: -517px -244px; width: 80px; }
.flag-sao_tome_and_principe { background-position: -517px -305px; width: 120px; }
.flag-saudi_arabia { background-position: -517px -366px; width: 90px; }
.flag-senegal { background-position: -517px -427px; width: 90px; }
.flag-serbia { background-position: -517px -488px; width: 90px; }
.flag-sierra_leone { background-position: -517px -549px; width: 90px; }
.flag-singapore { background-position: -517px -610px; width: 90px; }
.flag-slovakia { background-position: -517px -671px; width: 90px; }
.flag-slovenia { background-position: -517px -732px; width: 120px; }
.flag-somalia { background-position: -517px -793px; width: 90px; }
.flag-south_africa { background-position: -517px -854px; width: 90px; }
.flag-south_korea { background-position: -517px -915px; width: 90px; }
.flag-south_sudan { background-position: -517px -976px; width: 120px; }
.flag-spain { background-position: -517px -1037px; width: 90px; }
.flag-sri_lanka { background-position: -517px -1098px; width: 120px; }
.flag-sudan { background-position: -517px -1159px; width: 120px; }
.flag-suriname { background-position: -517px -1220px; width: 90px; }
.flag-swaziland { background-position: -517px -1281px; width: 90px; }
.flag-sweden { background-position: -517px -1342px; width: 96px; }
.flag-switzerland { background-position: -517px -1403px; width: 60px; }
.flag-syria { background-position: -517px -1464px; width: 90px; }
.flag-taiwan { background-position: -517px -1525px; width: 90px; }
.flag-tajikistan { background-position: -517px -1586px; width: 120px; }
.flag-tanzania { background-position: -517px -1647px; width: 90px; }
.flag-thailand { background-position: -517px -1708px; width: 90px; }
.flag-bahamas { background-position: -517px -1769px; width: 120px; }
.flag-central_african_republic { background-position: -517px -1830px; width: 90px; }
.flag-comoros { background-position: -517px -1891px; width: 101px; }
.flag-czech_republic { background-position: -517px -1953px; width: 90px; }
.flag-congo { background-position: -671px 0; width: 80px; }
.flag-dominican_republic { background-position: -671px -61px; width: 96px; }
.flag-gambia { background-position: -671px -122px; width: 90px; }
.flag-marshall_islands { background-position: -671px -183px; width: 114px; }
.flag-netherlands { background-position: -671px -244px; width: 90px; }
.flag-china { background-position: -671px -305px; width: 90px; }
.flag-philippines { background-position: -671px -366px; width: 120px; }
.flag-republic_of_congo { background-position: -671px -427px; width: 90px; }
.flag-seychelles { background-position: -671px -488px; width: 120px; }
.flag-solomon_islands { background-position: -671px -549px; width: 120px; }
.flag-united_arab_emirates { background-position: -671px -610px; width: 120px; }
.flag-united_kingdom { background-position: -671px -671px; width: 120px; }
.flag-united_states { background-position: -671px -732px; width: 114px; }
.flag-vatican_city { background-position: -671px -793px; width: 60px; }
.flag-togo { background-position: -671px -854px; width: 98px; }
.flag-tonga { background-position: -671px -916px; width: 120px; }
.flag-trinidad_and_tobago { background-position: -671px -977px; width: 101px; }
.flag-tunisia { background-position: -671px -1039px; width: 90px; }
.flag-turkey { background-position: -671px -1100px; width: 90px; }
.flag-turkmenistan { background-position: -671px -1161px; width: 90px; }
.flag-tuvalu { background-position: -671px -1222px; width: 120px; }
.flag-uganda { background-position: -671px -1283px; width: 90px; }
.flag-ukraine { background-position: -671px -1344px; width: 90px; }
.flag-uruguay { background-position: -671px -1405px; width: 90px; }
.flag-uzbekistan { background-position: -671px -1466px; width: 120px; }
.flag-vanuatu { background-position: -671px -1527px; width: 101px; }
.flag-venezuela { background-position: -671px -1589px; width: 90px; }
.flag-vietnam { background-position: -671px -1650px; width: 90px; }
.flag-yemen { background-position: -671px -1711px; width: 90px; }
.flag-zambia { background-position: -671px -1772px; width: 90px; }
.flag-zimbabwe { background-position: -671px -1833px; width: 120px; }

.flag-ronny_rustypins { background-position: -671px -1894px; width: 68px; }
.flag-minnie_maxadder { background-position: -671px -1955px; width: 89px; }
.flag-larry_lightfibers { background-position: -671px -2016px; width: 92px; }
