<template>
    <transition appear :css="false" @enter="enter" @leave="leave">
        <div class="button-set top" :class="{ hide: !show }" v-if="position === 'top'" v-show="show">
            <round-button top-label="TIMER" :bottom-label="baseTimer + ' seconds'" icon-width="133%" :color="timerColor" :transition="transition1" v-show="isMenu" @select="changeView('timer')"></round-button>
            <round-button top-label="HUMAN" :bottom-label="humanLabel" :color="humanColor" :transition="transition2" :radar="humanLabel === 'Searching'" :disabled="humanDisabled" v-show="isMenu" @select="getOpponent"></round-button>
            <round-button top-label="COMPUTER" :bottom-label="computer" :color="computerColor" :transition="transition3" v-show="isMenu" @select="changeView('computer')"></round-button>
            <round-button top-label="BLANK" :color="blankColor" :transition="transition4" v-show="!isMenu"></round-button>
        </div>

        <div class="button-set bottom" :class="{ hide: !show, front }" v-else-if="position === 'bottom'" v-show="show">
            <round-button top-label="RULES" bottom-label="RULES" :color="rulesColor" :transition="transition5" v-show="isMenu"  @select="toggleModal('rules')" :maximize="maximize === 'rules'"></round-button>
            <round-button top-label="SETTINGS" bottom-label="SETTINGS" :color="settingsColor" :transition="transition6" v-show="isMenu"  @select="toggleModal('settings')" :maximize="maximize === 'settings'"></round-button>
            <round-button top-label="STATS" bottom-label="STATS" :color="statsColor" :transition="transition7" icon-width="175%" v-show="isMenu"  @select="toggleModal('stats')" :maximize="maximize === 'stats'"></round-button>
            <round-button top-label="END" bottom-label="GAME" :color="endColor" :transition="transition8" v-show="!isMenu" @select="changeView('menu', true)"></round-button>
            <round-button top-label="PLAY" bottom-label="WORD" :color="playColor" :transition="transition9" icon-width="62%" v-show="!isMenu" @select="playWord"></round-button>
        </div>
    </transition>
</template>


<script>

import { mapState, mapGetters, mapMutations } from 'vuex';
import _random from 'lodash/random';
import RoundButton from './RoundButton.vue';

export default {
    name: 'button-set',
    components: { RoundButton },

    props: {
        position: { type: String, default: 'bottom' }
    },

    data() {
        return {
            isMenu:        true,
            maximize:      false,
            front:         false,
            show:          true,

            humanDisabled: !navigator.onLine,
            humanLabel:    navigator.onLine ? 'HUMAN' : 'Offline',

            timerColor:    this.getRndColorClasses(),
            humanColor:    this.getRndColorClasses(),
            computerColor: this.getRndColorClasses(),
            blankColor:    this.getRndColorClasses(),
            rulesColor:    this.getRndColorClasses(),
            settingsColor: this.getRndColorClasses(),
            statsColor:    this.getRndColorClasses(),
            endColor:      this.getRndColorClasses(),
            playColor:     this.getRndColorClasses(),

            transition1:   this.getRndTransition(),
            transition2:   this.getRndTransition(),
            transition3:   this.getRndTransition(),
            transition4:   this.getRndTransition(),
            transition5:   this.getRndTransition(),
            transition6:   this.getRndTransition(),
            transition7:   this.getRndTransition(),
            transition8:   this.getRndTransition(),
            transition9:   this.getRndTransition()
        };
    },

    computed: {
        ...mapState(['id', 'view']),
        ...mapGetters(['baseTimer', 'computer'])
    },

    watch: {
        view() {
            setTimeout(() => {
                this.isMenu = this.view === 'menu';
            }, 1000);
        }
    },

    methods: {
        getRndColorClasses() {
            switch (_random(1, 5)) {
                case 1: return 'red';
                case 2: return 'red purple';
                case 3: return 'yellow';
                case 4: return 'yellow orange';
                case 5: return 'yellow light-blue';
            }
        },

        getRndTransition(direction, delay = _random(0, 500)) {
            const x = _random(-4, 4),
                  y = direction === 'enter' ? _random(-3, 3) : (this.position === 'top' ? -34 : 34);
            return {
                'transition-delay': delay + 'ms',
                transform: `translate(${x}vw, ${y}vh) rotate(${_random(-30, 30)}deg)`
            };
        },

        enter(el, done) {
            for (let i = 1; i < 10; i++) {
                this['transition' + i] = this.getRndTransition('enter');
            }
            this.transition2 = this.getRndTransition('enter', 500);
        },

        leave(el, done) {
            for (let i = 1; i < 10; i++) {
                this['transition' + i] = this.getRndTransition('leave');
            }
            /*setTimeout(() => {
                this.isMenu = this.view === 'menu';
            }, 1000);*/
        },

        toggleModal(name) {
            this.maximize = this.maximize ? false : name;
            if (this.maximize) {
                primus.writable && primus.write({ id: this.id, action: 'endGame' });
                navigator.onLine && (app.$children[0].$children[2].humanLabel = 'HUMAN');
                this.front = true;
                sounds.whoosh.play();
                bus.$emit('modal-select', name);
            } else {
                bus.$emit('modal-close', name);
            }
        },

        hideButtons() {
            this.show = false;
        },

        showButtons() {
            this.show = true;
        },

        changeView(view, isClicked) {
            if (primus.writable && (view === 'timer' || view === 'computer')) {
                primus.destroy();
            }
            const prev = this.view;
            this.setView(view);
            app.$children[0].$children[2].show = false;
            app.$children[0].$children[6].show = false;
            bus.$emit('clear-view', prev, isClicked && prev === 'human');
            if (view !== 'menu' && view !== 'human') {
                setTimeout(() => {
                    if (this.position === 'top') {
                        this.humanLabel = navigator.onLine ? 'HUMAN' : 'Offline';
                    }
                    this.$emit('hidden');
                }, 2000);
            }
        },

        getOpponent() {
            this.humanLabel = 'Searching';
            this.$emit('hidden', () => {
                this.changeView('human');
                this.humanLabel = 'HUMAN';
            });
        },

        playWord() {
            bus.$emit('play-word');
        },

        ...mapMutations(['setView', 'updateOpponent'])
    },

    created() {
        bus.$on('close-modal', () => {
            this.maximize = false;
            setTimeout(() => {
                this.front = false;
            }, 700);
        });
        bus.$on('online',  () => {
            if (this.position === 'top') {
                this.humanDisabled = false;
                this.humanLabel = 'HUMAN';
            }
        });
        bus.$on('offline', () => {
            if (this.position === 'top') {
                this.humanDisabled = true;
                this.humanLabel = 'Offline';
            }
        });
        bus.$on('end-timer',   () => { this.show = false; });
        bus.$on('start-timer', () => { this.show = true;  });
        bus.$on('show-menu',   () => { this.show = true;  });
    }
}

</script>


<style>

.button-set {
    display: flex;
    justify-content: center;
    position: absolute;
    left: 0;
    right: 0;
}

.button-set.hide {
    pointer-events: none;
}

.button-set.front {
    z-index: 3;
}

.button-set.top {
    top: calc(25% - 41px);
}

.button-set.bottom {
    bottom: calc(25% - 41px);
}

#button-computer > .curved-label > text:last-of-type {
    font-size: 0.9em;
}

#button-none .button-icon {
    fill: darkred;
}

#button-blank {
    visibility: hidden;
}

</style>
