<template>
    <div class="letter"
        :class="{ selected }"
        :style="{ backgroundPosition }"
        @click="$emit('toggle')"
        @transitionend="$emit('trans-end')">
        <slot></slot>
        <span class="points">{{ points === 0 ? '' : points }}</span>
    </div>
</template>


<script>

export default {
    name: 'letter',

    props: {
        points:   { type: Number, default: 1 },
        selected: { type: Boolean, default: false },
        backgroundPosition: { type: String, default: '1% 1%' }
    }
}

</script>


<style>

.letter {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 11vw;
    height: 11vw;
    margin-left: 1px;
    margin-right: 1px;
    color: #111;
    font: bold 9vw 'Raleway Bold', sans-serif;
    cursor: pointer;
    transition: transform 400ms, opacity 400ms ease-in;
}

.tiles .letter {
    box-shadow: 0 0 5px #311f1b;  /* #3f2823 */
    border-radius: 5px;
    border-width: 2px;
    border-style: solid;
    background-repeat: no-repeat;
    transition: text-shadow 80ms, opacity 400ms ease-in;
}

.plastic .letter {
    text-shadow: 0 1px #e9dfc0;
    background-color: #ead89f;
    border: 2px solid #fdf8e8;
}

.maple .letter {
    text-shadow: 0 1px rgba(255, 255, 255, 0.4);
    border-color: rgba(255, 255, 255, 0.6);
    background-color: #f2d58c;
    background-image: url('../images/tiles/maple.jpg');
}

.mahogany .letter {
    color: transparent;
    text-shadow: 0 -1px rgba(0, 0, 0, 0.1), 0 0 rgba(255, 255, 255, 0.5);
    border-color: rgba(255, 255, 255, 0.13);
    background-color: #541709;
    background-image: url('../images/tiles/mahogany.jpg');
}

.marble .letter {
    text-shadow: 0 1px rgba(255, 255, 255, 0.4);
    border-color: rgba(255, 255, 255, 0.6);
    background-color: #d2bea1;
    background-image: url('../images/tiles/marble.jpg');
}

.jade .letter {
    color: transparent;
    text-shadow: 0 -1px rgba(0, 0, 0, 0.17), 0 0 rgba(255, 255, 255, 0.5);
    border-color: rgba(255, 255, 255, 0.17);
    background-color: #232327;
    background-image: url('../images/tiles/jade.jpg');
}

.pearl .letter {
    color: #222;
    text-shadow: 0 1px rgba(255, 255, 255, 0.7);
    border-color: rgba(255, 255, 255, 0.9);
    background-color: #e9e6e5;
    background-image: url('../images/tiles/pearl.jpg');
}

.ruby .letter {
    color: transparent;
    text-shadow: 0 -1px rgba(0, 0, 0, 0.1), 0 0 rgba(255, 255, 255, 0.6);
    border-color: rgba(255, 255, 255, 0.24);
    background-color: #971e32;
    background-image: url('../images/tiles/ruby.jpg');
}

.metal .letter {
    width: calc(11vw + 4px);
    height: calc(11vw + 4px);
    text-shadow: hsla(0, 0%, 100%, 0.6) 0 1px 1px;
    border: none;
    background: linear-gradient(180deg, hsl(0, 0%, 78%) 0%,
        hsl(0, 0%, 90%) 47%, hsl(0, 0%, 78%) 53%, hsl(0, 0%, 70%) 100%);
    box-shadow: inset hsla(0, 0%, 0%, 0.25) 0 -1px 0px 1px,
        inset hsla(0, 0%, 100%, 0.7) 0 2px 1px 1px, 0 0 5px #3f2823;
}

@keyframes callout-tiles-3 {
     50% { filter: brightness(1.3); }
    100% { filter: brightness(1.15); }
}

@keyframes callout-tiles-4 {
     50% { filter: brightness(1.4); }
    100% { filter: brightness(1.25); }
}

@keyframes callout-tiles-5 {
     50% { filter: brightness(1.5); }
    100% { filter: brightness(1.35); }
}

@keyframes callout-plastic-tiles {
   /* 0% { background-color: #ead89f; } */
     50% { background-color: #fdf8e8; }  /* #faeec9 */
    100% { background-color: #e9dfc0; }
}

@keyframes callout-metal-tiles {
     50% { background: linear-gradient(180deg, hsl(0, 0%, 93%) 0%,
        hsl(0, 0%, 100%) 47%, hsl(0, 0%, 93%) 53%, hsl(0, 0%, 85%) 100%); }
    100% { background: linear-gradient(180deg, hsl(0, 0%, 88%) 0%,
        hsl(0, 0%, 100%) 47%, hsl(0, 0%, 88%) 53%, hsl(0, 0%, 80%) 100%); }
}

.plastic .letter.selected {
    color: #723607;  /* Triad: #0a3f0a, Alt: #813d09, Alt Triad: #0d4e0d */
    text-shadow: 0 1px #eae5d3;
    background-color: #e9dfc0;
    animation: 1.4s ease callout-plastic-tiles;
}

.maple .letter.selected {
    color: #723607;
    text-shadow: 0 1px rgba(255, 255, 255, 0.3);
    filter: brightness(1.15);
    animation: 1.4s ease callout-tiles-3;
}

.mahogany .letter.selected {
    color: #9f8908;
    text-shadow: 0 0.5px rgba(255, 255, 255, 0.33);
    filter: brightness(1.25);
    animation: 1.4s ease callout-tiles-4;
}

.marble .letter.selected {
    color: #723607;
    text-shadow: 0 1px rgba(255, 255, 255, 0.3);
    filter: brightness(1.15);
    animation: 1.4s ease callout-tiles-3;
}

.jade .letter.selected {
    color: #9f8908;
    text-shadow: 0 1px rgba(255, 255, 255, 0.2);
    filter: brightness(1.35);
    animation: 1.4s ease callout-tiles-5;
}

.pearl .letter.selected {
    color: #723607;
    text-shadow: 0 1px rgba(255, 255, 255, 0.9);
    filter: brightness(1.15);
    animation: 1.4s ease callout-tiles-3;
}

.ruby .letter.selected {
    color: #bbb;
    text-shadow: 0 1px rgba(0, 0, 0, 0.3);
    filter: brightness(1.35);
    animation: 1.4s ease callout-tiles-5;
}

.metal .letter.selected {
    color: #723607;
    text-shadow: hsla(0, 0%, 100%, 0.8) 0 1px 1px;
    background: linear-gradient(180deg, hsl(0, 0%, 88%) 0%,
        hsl(0, 0%, 100%) 47%, hsl(0, 0%, 88%) 53%, hsl(0, 0%, 80%) 100%);
    animation: 1.4s ease callout-metal-tiles;
}

.points {
    position: absolute;
    bottom: 0;
    right: 0.25em;
    font-size: 0.25em;
}

.ghost {
    opacity: 0 !important;
}

@media (min-width: 580px) {
    .letter {
        width: 4rem;
        height: 4rem;
        font-size: 3.3rem;
    }

    .metal .letter {
        width: calc(4rem + 4px);
        height: calc(4rem + 4px);
    }
}

</style>
