<template>
    <draggable
        v-bind="dragOptions"
        class="letter-set tiles"
        :class="[{ opaque, hidden, pointer }, tileSet, anim]"
        :list="set"
        @end="endDrag">
        <letter
            v-for="letterObj in set"
            :points="letterObj.points"
            :background-position="letterObj.bgPos"
            :selected="letterObj.selected"
            @toggle="letterObj.selected = !letterObj.selected"
            @trans-end="transitionEnd">
            {{ letterObj.letter }}
        </letter>
    </draggable>
</template>


<script>

import draggable from 'vuedraggable';
import dict from '../modules/dict';
import Letter from './Letter.vue';

export default {
    name: 'letter-set',
    components: { draggable, Letter },

    props: {
        set:        { type: Array,   required: true },
        tileSet:    { type: String,  default: 'plastic' },
        autoselect: { type: Boolean, default: false }
    },

    data() {
        return {
            opaque:  false,
            hidden:  true,
            pointer: false,
            anim:    'move-in',
            animLetterNum: 0,

            dragOptions: {
                group:       'letterset',
                animation:   240,
                scroll:      false,
                ghostClass:  'ghost',
                chosenClass: 'dragging'
            }
        };
    },

    computed: {
        selected() {
            return this.set.filter(letterObj => letterObj.selected).reduce((word, letterObj) => word + letterObj.letter, '');
        },
        sound() {
            switch (this.tileSet) {
                case 'maple': case 'mahogany': return 'wood';
                case 'marble': case 'jade': case 'ruby': return 'stone';
                default: return this.tileSet;
            }
        },
        view() {
            return this.$store.state.view;
        }
    },

    watch: {
        autoselect() {
            this.autoselect && this.view !== 'menu' && this.selectLongestWord();
        },
        selected() {
            this.$emit('selected', this.selected);
        }
    },

    methods: {
        transitionEnd() {
            if (this.anim === 'slide-in') {
                if (++this.animLetterNum % 2 !== 1) {
                    sounds[this.sound].play();
                }
                if (this.animLetterNum === 7) {
                    this.animLetterNum = 0;
                    this.view === 'menu' || setTimeout(() => {
                        this.opaque = true;
                        this.anim = '';
                        this.autoselect && this.selectLongestWord();
                        this.pointer = true;
                        bus.$emit('start-timer');
                    }, 400);
                }
            }
        },

        clearSelected() {
            this.set.forEach(letterObj => { letterObj.selected = false; });
        },

        selectLongestWord() {
            const letters = this.set.reduce((selected, letterObj) => selected += letterObj.letter, ''),
                  longest = dict.longest(dict.find(letters)),
               startIndex = letters.indexOf(longest),
                 endIndex = startIndex + longest.length - 1;
            for (let i = 0; i < this.set.length; i++) {
                this.set[i].selected = (i < startIndex || i > endIndex) ? false : true;
            }
        },

        endDrag() {
            this.autoselect && this.selectLongestWord();
        },

        hideLetters() {
            this.anim = 'slide-out';
            this.view === 'menu' && (this.opaque = false);
            this.hidden = true;
        },

        showLetters() {
            this.anim = this.view === 'menu' ? 'move-in' : 'slide-in';
            this.hidden = false;
        }
    },

    created() {
        bus.$on('end-timer', () => {
            this.pointer = false;
        });
        bus.$on('show-menu', () => {
            this.pointer = false;
            this.opaque = false;
            this.$nextTick(this.showLetters);
        });
        bus.$on('start-round', () => {
            this.opaque = true;
            this.showLetters();
        });
        bus.$on('clear-view', () => {
            this.hideLetters();
            /* setTimeout(() => {
                this.view === 'menu' && (this.opaque = false);
            }, 2000); */
        });
    }
}

</script>


<style>

.letter-set {
    display: flex;
    pointer-events: none;
}

.letter-set.pointer {
    pointer-events: auto;
}

.letter-set .letter {
    opacity: 0;
}

.letter-set.opaque .letter {
    opacity: 1;
}

.letter-set.move-in .letter,
.letter-set.slide-in .letter,
.letter-set.slide-out .letter {
    opacity: 1;
    transition: transform 400ms ease-in;
 }

.letter-set.fade-in .letter:nth-of-type(1),
.letter-set.fade-in .letter:nth-of-type(7),
.letter-set.slide-in .letter:nth-of-type(1),
.letter-set.slide-in .letter:nth-of-type(7),
.letter-set.slide-out .letter:nth-of-type(4) {
    transition-delay: 1500ms;
}

.letter-set.fade-in .letter:nth-of-type(2),
.letter-set.fade-in .letter:nth-of-type(6),
.letter-set.slide-in .letter:nth-of-type(2),
.letter-set.slide-in .letter:nth-of-type(6),
.letter-set.slide-out .letter:nth-of-type(3),
.letter-set.slide-out .letter:nth-of-type(5) {
    transition-delay: 1200ms;
}

.letter-set.fade-in .letter:nth-of-type(3),
.letter-set.fade-in .letter:nth-of-type(5),
.letter-set.slide-in .letter:nth-of-type(3),
.letter-set.slide-in .letter:nth-of-type(5),
.letter-set.slide-out .letter:nth-of-type(2),
.letter-set.slide-out .letter:nth-of-type(6) {
    transition-delay: 900ms;
}

.letter-set.fade-in .letter:nth-of-type(4),
.letter-set.slide-in .letter:nth-of-type(4),
.letter-set.slide-out .letter:nth-of-type(1),
.letter-set.slide-out .letter:nth-of-type(7) {
    transition-delay: 600ms;
}

.letter-set.slide-out.hidden .letter:nth-of-type(1) {
    transform: translateX(-40vw);
}

.letter-set.slide-out.hidden .letter:nth-of-type(2) {
    transform: translateX(-45vw);
}

.letter-set.slide-out.hidden .letter:nth-of-type(3) {
    transform: translateX(-50vw);
}

.letter-set.slide-out.hidden .letter:nth-of-type(4) {
    transform: translateY(-57vh);
}

.letter-set.slide-out.hidden .letter:nth-of-type(5) {
    transform: translateX(50vw);
}

.letter-set.slide-out.hidden .letter:nth-of-type(6) {
    transform: translateX(45vw);
}

.letter-set.slide-out.hidden .letter:nth-of-type(7) {
    transform: translateX(40vw);
}

@media (min-width: 1700px) {
    .letter-set.slide-out.hidden .letter:nth-of-type(1) {
        transform: translateX(-45vw);
    }

    .letter-set.slide-out.hidden .letter:nth-of-type(2) {
        transform: translateX(-50vw);
    }

    .letter-set.slide-out.hidden .letter:nth-of-type(3) {
        transform: translateX(-55vw);
    }

    .letter-set.slide-out.hidden .letter:nth-of-type(5) {
        transform: translateX(55vw);
    }

    .letter-set.slide-out.hidden .letter:nth-of-type(6) {
        transform: translateX(50vw);
    }

    .letter-set.slide-out.hidden .letter:nth-of-type(7) {
        transform: translateX(45vw);
    }
}

</style>
