<template>
    <transition name="fade" enter-active-class="fadeIn" leave-active-class="fadeOut">
        <div class="modal animated-600" v-show="show === heading">
            <header>
                <h1>{{ heading | filterHeading }}</h1>
                <button class="close-modal" @click="hideModal">X</button>
            </header>
            <slot></slot>
        </div>
    </transition>
</template>


<script>

export default {
    name: 'modal',

    props: {
        heading: { type: String, required: true }
    },

    data() {
        return {
            show: false
        }
    },

    filters: {
        filterHeading(heading) {
            return heading.toUpperCase().replace(/-/g, ' ');
        }
    },

    methods: {
        hideModal() {
            this.show = false;
            bus.$emit('close-modal');
        },

        showModal(heading) {
            this.show = heading;
        }
    },

    created() {
        bus.$on('modal-select', this.showModal);
        bus.$on('modal-close', this.hideModal);
    }
};

</script>


<style>

.modal {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 4;
    width: 100%;
    height: 100%;
    padding: 2rem;
    box-sizing: border-box;
    color: #eee;
    pointer-events: none;
}

/* .modal.animated {
    animation-duration: 600ms !important;
} */

.modal.fadeIn {
    animation-delay: 400ms;
}

.modal header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    font: bold 10vw 'Raleway Bold', sans-serif;
    color: #fcfcfc;
}

.modal ul {
    padding-left: 1.25rem;
}

.modal li,
.modal p {
    margin-right: 1rem;
}

.modal li + li,
.modal p + p {
    margin-top: 1rem;
}

.close-modal {
    /* width: 13.363vw; */
    /* height: 13.363vw; */
    padding: 0.03em 0.3em;
    background-color: rgba(0, 0, 0, 0.25);
    border-radius: 50%;
    border: 3px solid #eee;
    pointer-events: auto;
    transition: color 200ms, border-color 200ms;
    will-change: color, border-color;
}

.close-modal:focus,
.close-modal:hover {
    color: yellow;
    border-color: yellow;
}

@media (min-width: 480px) {
    .modal header {
        font-size: 3rem;
    }

    /* .close-modal {
        width: 4rem;
        height: 4rem;
    } */
}

</style>
