<template>
    <div class="player-info animated-1000" :class="position">
        <span class="flag" :class="[flagClass, { tooltip: message }]" :style="flagStyle" :data-tooltip="message || country">
            <span v-if="expression" class="expression" :class="expression"></span>
        </span>
        <input class="player-name" :style="nameStyle" :placeholder="placeholder" :value="name" :tabindex="tabIndex" @input="updateName">
        <span class="game-score" :class="{ minus: gameScore < 0 }">{{ gameScore }}</span>
    </div>
</template>


<script>

import { mapState } from 'vuex';

export default {
    name: 'player-info',

    props: {
        position:    { type: String, default: 'bottom' },
        name:        { type: String, default: '' },
        placeholder: { type: String, default: 'Your name...' },
        country:     { type: String, default: '' },
        message:     { type: String, default: '' },
        expression:  { type: String, default: '' },
        score:       { type: Number, default: 0 }
    },

    data() {
        return {
            gameScore:      0,
            tabIndex:       this.position === 'top' ? -1 : 0,
            flagStyle:      { transform: 'scale(0)' },
            nameStyle:      { marginLeft: 0 }
        };
    },

    computed: {
        flagClass() {
            return 'flag-' + this.country.toLowerCase().replace(/\s/g, '_');
        },
        ...mapState(['id', 'view'])
    },

    watch: {
        flagClass() {
            this.$nextTick(() => {
                this.setFlagScale();
            });
        },

        score() {
            if (this.score === 0) {
                this.gameScore = 0;
            } else {
                this.incrementScore();
            }
        }
    },

    methods: {
        updateName(event) {
            const name = event.target.value.trim();
            this.$store.commit('updateSettings', { name });
            if (this.view === 'human' && primus.writable) {
                primus.write({
                    id:     this.id,
                    action: 'updateName',
                    name
                });
            }
        },

        setFlagScale() {
            const scale = this.$el.clientHeight / 60,
              flagWidth = this.$el.childNodes[0].clientWidth,
                notHigh = window.innerHeight < 680;
            this.flagStyle.transform = `scale(${scale})`;
            this.flagStyle.fontSize = (1 / scale) * (notHigh ? 3.5 : 1.5) + (notHigh ? 'vh' : 'rem');
            this.nameStyle.marginLeft = `calc(-${flagWidth - (flagWidth * scale)}px + ${notHigh ? '2.333vh' : '1rem'})`;
        },

        incrementScore() {
            let delay = 150;
            function increment() {
                setTimeout(() => {
                    this.position === 'bottom' && sounds.click.play();
                    if (this.score > this.gameScore) {
                        this.gameScore++;
                    } else if (this.score < this.gameScore) {
                        this.gameScore--;
                    }
                    this.score !== this.gameScore && increment.call(this);
                }, delay += 50);
            };
            this.score === this.gameScore || increment.call(this);
        }
    },

    mounted() {
        this.$nextTick(() => {
            this.setFlagScale();
            bus.$on('window-resize', this.setFlagScale);
        });
    }
}

</script>


<style>

.player-info {
    display: flex;
    position: absolute;
    width: 100%;
    height: 7vh;
    font: bold 3.5vh 'Raleway Bold', sans-serif;
    color: #222;
    text-shadow: 0 1px rgba(255, 255, 255, 0.1);
    opacity: 1;
    transition: opacity 1s;
    transition-delay: 1s;
}

.player-info.top {
    bottom: 0;
}

.player-info.bottom {
    top: 0;
}

.close > .player-info {
    opacity: 0;
}

.flag {
    flex-shrink: 0;
    position: relative;
    color: #aaa;
    font-family: 'Raleway Regular', sans-serif;
    border-right: 1px solid #111;
    transform-origin: 0 0;
}

.flag::before {
    content: attr(data-tooltip);
    position: absolute;
    left: 1rem;  /* 15% */
    padding: 0.5rem 0.75rem;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 5px;
    pointer-events: none;
    opacity: 0;
    transition: opacity 300ms ease-out;
}

.top .flag::before {
    top: 130%;
}

.bottom .flag::before {
    bottom: 130%;
}

.flag::after {
    content: '';
    position: absolute;
    bottom: calc(130% + 1px);
    left: 50%;
    width: 27px;
    height: 9px;
    background: no-repeat url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="36px" height="12px"><path fill="rgba(0, 0, 0, 0.7)" d="M2.658,0.000 C-13.615,0.000 50.938,0.000 34.662,0.000 C28.662,0.000 23.035,12.002 18.660,12.002 C14.285,12.002 8.594,0.000 2.658,0.000 Z"/></svg>');
    background-size: 100% auto;
    pointer-events: none;
    transform-origin: top;
    opacity: 0;
    transition: opacity 300ms ease-out;
}

.flag.flag-::after {
    left: 3.75rem;
}

.top .flag::after {
    top: 130%;
    transform: translate3d(-50%, 0px, 0) rotate(180deg);
}

.bottom .flag::after {
    bottom: 130%;
    transform: translate3d(-50%, 8px, 0);
}

.flag:focus::before,
.flag:focus::after,
.flag:hover::before,
.flag:hover::after,
.flag.tooltip::before,
.flag.tooltip::after {
    opacity: 1;
}

.expression {
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 50%;
    height: 50%;
    margin: auto;
    pointer-events: none;
    background: url('../images/expressions.png') no-repeat top left;
    background-position: -5.5% -1%;
    background-size: 350%;
}

.expression.bliss   { background-position: 30% 30%; }
.expression.neutral { background-position: 30% 62%; }
.expression.happy   { background-position: -5.5% -1%; }
.expression.sad     { background-position: 30% -1%; }
.expression.wink    { background-position: 64% 0; }
.expression.cool    { background-position: 101% -1%; }

.player-name {
    flex-grow: 1;
    flex-shrink: 1;
    min-width: 0;
    text-shadow: 0 1px rgba(255, 255, 255, 0.1);
    background-color: transparent;
    border: 0;
    outline: none;
}

.top .player-name {
    pointer-events: none;
}

.player-info > .flag.flag- + .player-name {
    margin-left: 1.75vh !important;
}

.player-name::-webkit-input-placeholder {
    font-family: 'Raleway Regular', sans-serif;
    color: rgba(255, 255, 255, 0.5);
}

.player-name:-moz-placeholder {
    font-family: 'Raleway Regular', sans-serif;
    color: rgba(255, 255, 255, 0.5);
}

.player-name::-moz-placeholder {
    font-family: 'Raleway Regular', sans-serif;
    color: rgba(255, 255, 255, 0.5);
}

.player-name:-ms-input-placeholder {
    font-family: 'Raleway Regular', sans-serif;
    color: rgba(255, 255, 255, 0.5);
}


.game-score {
    display: flex;
    align-items: center;
    min-width: 4.25vh;
    margin-left: 0.6em;
    padding-left: 1.5em;
    padding-right: 0.5rem;
    color: #178816;
    font-size: 1.05em;
    text-shadow: 0 -1px #000;
    background-image: linear-gradient(109deg, transparent 0, transparent 20%, #111 20%);
    pointer-events: none;
}

.game-score.minus {
    color: #c00;
}

@media (max-width: 359px) {
    .flag:not(.flag-) + .player-name {
        visibility: hidden;
    }
}

@media (min-height: 680px) {
    .player-info {
        height: 3rem;
        font-size: 1.5rem;
    }

    .player-info > .flag.flag- + .player-name {
        margin-left: 0.75rem !important;
    }

    .game-score {
        min-width: 1.95rem;
        margin-left: 1rem;
    }
}

</style>
