<template>
    <button class="round-button" :class="{ [colorClasses]: true, disabled, maximize, front }" :id="'button-' + id" :style="transition" @click="$emit('select')" :tabindex="disabled ? -1 : 0" @focus="rotate = true" @blur="rotate = false">
        <svg class="curved-label" :class="{ rotate }">
            <text v-if="topLabel" dx="0" dy="4" transform="translate(9, -36)" text-anchor="middle">
                <textPath xlink:href="#curve-top" startOffset="50%">{{ topLabel }}</textPath>
            </text>
            <text v-if="bottomLabel" dx="0" dy="6" transform="translate(9, -20)" text-anchor="middle">
                <textPath xlink:href="#curve-bottom" startOffset="50%">{{ bottomLabel }}</textPath>
            </text>
        </svg>
        <div class="button-circle" :style="`transform: scale(${scale})`" @transitionend="setFront">
            <div v-if="radar" class="radar"></div>
            <svg v-if="!radar" class="button-icon" :width="iconWidth">
                <use :xlink:href="'#icon-' + id"/>
            </svg>
        </div>
    </button>
</template>


<script>

import _random from 'lodash/random';

export default {
    name: 'round-button',

    props: {
        topLabel:    { type: String, default: '' },
        bottomLabel: { type: String, default: '' },
        iconWidth:   { type: String, default: '75%'},
        color:       { type: String, default: '' },
        disabled:    { type: Boolean, default: false },
        maximize:    { type: Boolean, default: false },
        radar:       { type: Boolean, default: false },
        transition:  { type: Object }
    },

    data() {
        return {
            id:     this.topLabel.toLowerCase().replace(/\s/g, '-'),
            front:  false,
            rotate: false
        }
    },

    computed: {
        colorClasses() {
            const svgIcon = document.getElementById('icon-' + this.id);
            if (svgIcon) {
                svgIcon.classList.remove('yellow', 'red');
                this.disabled || svgIcon.classList.add(this.color.split(' ')[0]);
            }
            return this.disabled ? '' : this.color;
        },
        scale() {
            return this.maximize ? Math.max(window.innerWidth, window.innerHeight) / 25 : 1;
        }
    },

    methods: {
        setFront() {
            this.front = this.maximize;
        }
    }
}

</script>


<style>

.round-button {
    flex-shrink: 0;
    position: relative;
    width: 96px;
    height: 96px;
    margin: 0 5vw;
    padding: 0;
    background-color: #939393;
    border-radius: 50%;
    border: 2px solid darkgrey;
    box-shadow: inset 0 0 2px 1px #a1a1a1, 0 0 2px 1px #333;
    transform: translateY(-34vh);
    transition: transform 500ms ease-out;
    will-change: transform;
}

.round-button.disabled {
    pointer-events: none;
}

.round-button.maximize,
.round-button.front {
    z-index: 1;
}

.round-button.red {
    background-color: darkred;
    border: 2px solid #9c0000;
    box-shadow: inset 0 0 2px 1px #900000, 0 0 3px 1px #333;
}

.round-button.red.purple {
    box-shadow: inset 0 0 2px 1px #900000, 0 0 3px 1px #2c2c2c;
    filter: brightness(1.15) hue-rotate(285deg);
}

.round-button.yellow {
    background-color: #a9a70d;
    border: 2px solid #b7b50e;
    box-shadow: inset 0 0 2px 1px #aaa811, 0 0 3px 1px #333;
}

.round-button.yellow.orange {
    box-shadow: inset 0 0 2px 1px #aaa811, 0 0 3px 1px #3b3b3b;
    filter: brightness(0.85) hue-rotate(325deg);
}

.round-button.yellow.light-blue {
    box-shadow: inset 0 0 2px 1px #aaa811, 0 0 3px 1px #3b3b3b;
    filter: brightness(0.85) hue-rotate(120deg);
}

.curved-label {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-size: 0.9rem;
    letter-spacing: 0;
    fill: #555;
    text-shadow: 0 0 1px #555, 0 1px 1px #c3c3c3;
    transition: fill 200ms, text-shadow 200ms;
    will-change: transform, fill, text-shadow;
}

.red > .curved-label {
    fill: #500000;
    text-shadow: 0 0 1px #500000, 0 1px 1px #b30000;
}

.yellow > .curved-label {
    fill: #7b7909;
    text-shadow: 0 0 1px #7b7909, 0 1px 1px #d1ce13;  /* d3cf12 */
}

.curved-label.rotate {
    transition: transform 1s ease-in-out, fill 200ms;
}

.round-button:focus > .curved-label {
    transform: rotate(360deg);
}

.button-circle {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 17px;
    left: 17px;
    width: 58px;
    height: 58px;
    overflow: hidden;
    border-radius: 50%;
    border: 0;
    fill: #4c4c4c;
    background-color: #7c7c7c;
    /* background-image: radial-gradient(#eee 0, #ccc 100%); */
    box-shadow: 0 0 1px 1px #555, 0 0 1px 1px #555 inset, 0 0 1px 2px #aaa, 0 0 1px 2px #999 inset;
    transition: fill 200ms;
    will-change: z-index, transform, fill, background-color, box-shadow;
}

.red > .button-circle {
    fill: #4c0000;
    background-color: #730000;
    box-shadow: 0 0 1px 1px #500000, 0 0 1px 1px #500000 inset, 0 0 1px 2px #9f0000, 0 0 1px 2px #850000 inset;
}

.yellow > .button-circle {
    fill: #676608;
    background-color: #93910a;
    box-shadow: 0 0 1px 1px #7b7909, 0 0 1px 1px #7b7909 inset, 0 0 1px 2px #bebb0d, 0 0 1px 2px #a5a20d inset;
}

.maximize > .button-circle,
.front > .button-circle {
    fill: #393939 !important;
    background-color: #333;
    box-shadow: none;
}

.maximize > .button-circle {
    transition: transform 600ms ease-in;
}

.front > .button-circle {
    transition: transform 700ms ease-out;
}

.round-button.red:focus > .button-circle,
.round-button.red:focus > .curved-label {
    fill: #c59278;
    text-shadow: 0 0 1px #c59278, 0 1px 1px #b30000;
}

.round-button.red:hover > .button-circle,
.round-button.red:hover > .curved-label {
    fill: #aa6150;
    text-shadow: 0 0 1px #c59278, 0 1px 1px #b30000;
}

.round-button.yellow:focus > .button-circle,
.round-button.yellow:focus > .curved-label {
    fill: #c7f59e;
    text-shadow: 0 0 1px #c7f59e, 0 1px 1px #b7b512;
}

.round-button.yellow:hover > .button-circle,
.round-button.yellow:hover > .curved-label {
    fill: #acc477;
    text-shadow: 0 0 1px #c7f59e, 0 1px 1px #b7b512;
}

.red #hourglass-right { fill: #500000; }
.red #hourglass-left { fill: #600000; }
.red #hourglass-sand-right { fill: #c59278; }
.red #hourglass-sand-left { fill: #aa6150; }

.yellow #hourglass-right { fill: #7b7909; }
.yellow #hourglass-left { fill: #8b8919; }
.yellow #hourglass-sand-right { fill: #c7f59e; }
.yellow #hourglass-sand-left { fill: #acc477; }

@keyframes rotate-360 {
    from { transform: rotate(0deg); }
      to { transform: rotate(360deg); }
}

.radar {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 50%;
    border-radius: 50% 50% 0 0 / 100% 100% 0 0;
    animation: rotate-360 3s infinite linear;
    transform-origin: 50% 100%;
    will-change: transform;
    background-image: linear-gradient(-135deg, rgba(0, 0, 0, 1) 0,
        rgba(0, 0, 0, 0.02) 70%, rgba(0, 0, 0, 0) 100%);
}

.radar::after {
    content: '';
    position: absolute;
    width: 66%;
    bottom: -1px;
    border-radius: 9px;
    border-top: 3px solid rgba(0, 0, 0, 0.8);
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.6);
}

.red .radar {
    background-image: linear-gradient(-135deg, rgba(96, 0, 0, 1) 0,
        rgba(96, 0, 0, 0.02) 70%, rgba(96, 0, 0, 0) 100%);
}

.red .radar::after {
    border-top: 3px solid rgba(80, 0, 0, 0.8);
    box-shadow: 0 0 3px rgba(80, 0, 0, 0.6);
}

.yellow .radar {
    background-image: linear-gradient(-135deg, rgba(123, 121, 9, 1) 0,
        rgba(123, 121, 9, 0.02) 70%, rgba(123, 121, 9, 0) 100%);
}

.yellow .radar::after {
    border-top: 3px solid rgba(104, 102, 7, 0.8);
    box-shadow: 0 0 3px rgba(104, 102, 7, 0.6);
}

@media (max-height: 520px), (max-width: 420px) {
    .round-button {
        width: 72px;
        height: 72px;
    }

    .curved-label {
        display: none;
    }

    .button-circle {
        top: 7px;
        left: 7px;
        width: 54px;
        height: 54px;
    }
}

@media (min-width: 790px) {
    .round-button {
        margin: 0 40px;
    }
}

</style>
