<template>
    <transition
        name="summary-transition"
        enter-active-class="animated-1000 slideInLeft"
        leave-active-class="animated-1000 slideOutRight"
        @before-enter="beforeEnter"
        @after-leave="$emit('show-menu')">
        <table class="score-summary" v-show="show" @click="$emit('close-summary')">
            <thead>
                <tr>
                    <td class="table-title">After {{ roundCount }} Round{{ s }}</td>
                    <td class="table-col-header">You</td>
                    <td class="table-col-header" v-show="opp">Opp</td>
                </tr>
            </thead>
            <score-row
                v-for="(points, key) in scores"
                :desc="toTitleCase(key)"
                :points="points">
            </score-row>
        </table>
    </transition>
</template>


<script>

import { mapGetters } from 'vuex';
import ScoreRow from './ScoreRow.vue';

export default {
    name: 'score-summary',
    components: { ScoreRow },

    props: {
        opp:  { type: Boolean, default: false },
        show: { type: Boolean, default: false }
    },

    computed: {
        s() {
            return this.roundCount === 1 ? '' : 's';
        },
        scores() {
            return this.opp ? this.scoreSummary : (() => {
                const scoresObj = {};
                for (let key in this.scoreSummary) {
                    if (this.scoreSummary.hasOwnProperty(key)) {
                        scoresObj[key] = this.scoreSummary[key][0];
                    }
                }
                return scoresObj;
            })();
        },
        ...mapGetters(['roundCount', 'scoreSummary'])
    },

    methods: {
        beforeEnter() {
            sounds.whoosh.play();
        },

        toTitleCase(str) {
            return (str.charAt(0).toUpperCase() + str.substring(1)).trim()
                .replace(/([a-z])([A-Z])/g, matches => `${matches[0]} ${matches[1]}`);
        }
    }
}

</script>


<style>

.score-summary {
    font-size: 1rem;
    letter-spacing: 0.03em;
    color: #aaa;
    background-color: rgba(0, 0, 0, 0.5);
    border-spacing: 0.2rem;
    border-radius: 5px;
    border: 1px dashed #888;
    box-shadow: 0 0 5px #333;
    cursor: pointer;
}

.score-summary > thead {
    display: table-caption;
    padding-bottom: 0.75rem;
    color: #bbb;
    text-transform: uppercase;
}

.score-summary .table-title {
    display: block;
    margin-right: 4.5rem;
    white-space: nowrap;
}

.score-summary .table-col-header {
    padding: 0 0.3rem;
    font-size: 0.7em;
    transform: rotate(-45deg);
}

.score-summary .score-row > td {
    min-width: 1.5rem;
    padding: 0.25rem 0.5rem;
}

.score-summary .score-row:first-of-type > td {
    padding-top: 0.5rem;
}

.score-summary .score-row:last-of-type > td {
    padding-bottom: 0.5rem;
}

.score-summary .score-points {
    text-align: center;
    border-left: 1px dashed #888;
}

@media (min-width: 380px) {
    .score-summary {
        font-size: 1.25rem;
    }

    .score-summary .table-title {
        margin-right: 5rem;
    }

    .score-summary .table-col-header {
        padding: 0 0.2rem;
    }
}

</style>
