<template>
    <transition
        name="score-transition"
        :enter-active-class="'animated-1000 ' + animEnter"
        :leave-active-class="'animated-1000 ' + animLeave"
        @before-enter="beforeEnter"
        @after-enter="afterEnter"
        @before-leave="beforeLeave">
        <table class="score-table" :class="{ invisible }" @click="$emit('click')">
            <score-row
                v-for="(points, key) in score"
                v-show="points > 0"
                :desc="descs[key]" :points="points"
                :plus-sign="key !== 'word' && key !== 'total'">
            </score-row>
        </table>
    </transition>
</template>


<script>

import ScoreRow from './ScoreRow.vue';

export default {
    name: 'score-table',
    components: { ScoreRow },

    props: {
        position: { type: String, required: true },
        selected: { type: String, required: true },
        score:    { type: Object, required: true }
    },

    data() {
        return {
            animEnter: this.position === 'top' ? 'zoomInUp' : 'zoomInDown',
            animLeave: this.position === 'top' ? 'zoomOutUp' : 'zoomOutDown'
        };
    },

    computed: {
        descs() {
            return {
                word:   this.selected || 'No Word',
                length: this.selected.length + ' Letters',
                time:   'Time Bonus',
                total:  'Total Score'
            };
        },
        view() {
            return this.$store.state.view;
        },
        invisible() {
            return (this.view === 'timer' || this.view === 'menu') && this.position === 'top';
        }
    },

    methods: {
        beforeEnter() {
            this.position === 'bottom' && setTimeout(() => {
                sounds.whoosh.play();
            }, 120);
        },

        afterEnter() {
            const player = this.position === 'bottom' ? 'player' : 'opponent';
            this.$store.commit('updateGameScore', { player, score: this.score.total });
            this.$emit('shown');
        },

        beforeLeave() {
            setTimeout(() => {
                this.$emit('hidden');
            }, 400);
        }
    }
}

</script>


<style>

.score-table {
    padding: 0.25rem 0.5rem;
    font-size: 1.25rem;
    letter-spacing: 0.03em;
    color: #aaa;
    background-color: rgba(0, 0, 0, 0.5);
    border-spacing: 0.2rem;
    border-radius: 5px;
    border: 1px dashed #888;
    box-shadow: 0 0 5px #333;
    cursor: pointer;
    pointer-events: auto;
}

.score-table.invisible {
    visibility: hidden;
}

</style>
