<template>
    <tr class="score-row">
        <td class="score-desc"><span>{{ desc }}</span></td>
        <td v-if="typeof points === 'number'"
            class="score-points"
            :class="{ 'score-minus': points < 0 }">
            {{ plusSign ? prefixPoints(points) : points }}
        </td>
        <td v-else
            v-for="i in points"
            class="score-points"
            :class="{ 'score-minus': i < 0 }">
            {{ plusSign ? prefixPoints(i) : i }}
        </td>
    </tr>
</template>


<script>

export default {
    name: 'score-row',

    props: {
        desc:     { type: String, required: true },
        points:   { default: 0 },
        plusSign: { type: Boolean, default: false }
    },

    methods: {
        prefixPoints(points) {
            return (points > 0 ? '+' : '') + points;
        }
    }
}

</script>


<style>

.score-row > td {
    padding: 0.25rem;
}

.score-row > td > span {
    padding-right: 0.5rem;
}

tr.score-row:first-of-type {
    display: table-row !important;
}

.score-row:last-of-type {
    color: #ccc;
}

.score-points {
    text-align: right;
}

.score-minus {
    color: #c00;
}

</style>
