<template>
    <div class="setting">
        <div class="toggle">
            <h2>{{ heading | capitalize }}</h2>
            <label v-if="isSelectBox">
                <select v-model="selected" @change="selectOption($event.target.value)">
                    <option v-for="(desc, key) in unlockedOptions"
                        :id="'option-' + key" :value="key">
                        {{ key | capitalize }}
                    </option>
                </select>
            </label>
            <button v-else
                v-for="(desc, key) in unlockedOptions"
                :id="'option-' + key"
                :class="{ select: key === selected }"
                @click="selectOption(key)">
                {{ key | capitalize }}
            </button>
        </div>
        <p class="description" v-html="options[selected]"></p>
    </div>
</template>


<script>

export default {
    name: 'setting',

    props: {
        heading:  { type: String, default: '' },
        options:  { type: Object, default: {} },
        selected: { type: String, default: '' },
        fn:       { type: Function }
    },

    data() {
        return {
            windowWidth: window.innerWidth
        }
    },

    filters: {
        capitalize(str) {
            return str.charAt(0).toUpperCase() + str.substring(1, str.length);
        }
    },

    computed: {
        unlockedOptions() {
            if (!this.unlocked) { return this.options; }
            const opts = {};
            this.unlocked.forEach(option => {
                this.options[option] && (opts[option] = this.options[option]);
            });
            return opts;
        },
        isSelectBox() {
            const w = this.windowWidth, l = Object.keys(this.unlockedOptions).length;
            return (w < 420 && l > 2) || (w < 500 && l > 3) || (w < 600 && l > 4) ||
                (w < 680 && l > 5) || (w < 740 && l > 6) || (w < 800 && l > 7) ||
                (w < 860 && l > 8);
        },
        unlocked() {
            return this.$store.state.unlocked[this.heading];
        }
    },

    methods: {
        selectOption(opt) {
            switch (opt) {
                case 'maple': case 'mahogany': sounds.wood.play(); break;
                case 'marble': case 'jade': case 'ruby': sounds.stone.play(); break;
                case 'metal': sounds.metal.play(); break;
                default: sounds.plastic.play();
            }
            this.$store.commit('updateSettings', { [this.heading]: opt });
            this.fn && this.fn();
        }
    },

    created() {
        bus.$on('window-resize', () => {
            this.windowWidth = window.innerWidth;
        });
    }
}

</script>


<style>

.setting + .setting {
    margin-top: 2rem;
}

.setting > .toggle {
    display: flex;
    align-items: center;
}

.setting > .description {
    margin-bottom: 4rem;
    color: #ccc;
}

.setting h2 {
    flex-grow: 1;
    min-width: 10rem;
    font-size: 1.35rem;
}

.setting select,
.setting button {
    margin-left: 0;
    margin-right: 0;
    padding: 0.3rem 0.7rem;
    border: 2px solid #ccc;
    pointer-events: auto;
    transition: color 80ms, background-color 80ms;
}

.setting button {
    background-color: rgba(0, 0, 0, 0.25);
}

.setting select {
    color: #111;
    background-color: #ccc;
    border-radius: 0.3rem;
    appearance: none;
    cursor: pointer;
}

.setting label {
    position: relative;
}

.setting label::after {
    content: '↕';
    position: absolute;
    right: 0.35rem;
    font-size: 1.4rem;
    height: 100%;
    margin-top: 3px;
    color: #111;
}

.setting button:first-of-type {
    border-top-left-radius:  0.3rem;
    border-bottom-left-radius: 0.3rem;
}

.setting button:last-of-type {
    border-top-right-radius: 0.3rem;
    border-bottom-right-radius: 0.3rem;
}

.setting option[selected],
.setting button.select {
    color: #111;
    background-color: #ccc;
}

.setting button:focus,
.setting button:hover {
    color: yellow;
}

.setting button + button {
    margin-left: -2px;
}

@media (max-height: 600px) and (max-width: 1023px) {
    .setting > .description {
        display: none;
    }
}

@media (min-width: 480px) {
    .setting h2 {
        font-size: 1.5rem;
    }
}

@media (min-width: 540px) {
    .setting h2 {
        flex-grow: unset;
    }
}

@media (min-width: 1024px) {
    .setting {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .setting > .description {
        margin-bottom: 1rem;
        text-align: right;
    }
}

@media (min-width: 1480px) {
    .setting > .description > br {
        display: none;
    }
}

</style>
