<template>
    <div class="stat">
        <span class="heading">{{ heading | toTitleCase }}</span>
        <span class="value">{{ value }}</span>
        <span v-if="word" class="word">for {{ word.toUpperCase() }}</span>
    </div>
</template>


<script>

export default {
    name: 'stat',

    props: {
        heading: { type: String, default: '' },
        word:    { type: String, default: '' },
        value:   { type: Number, default: 0 }
    },

    filters: {
        toTitleCase(str) {
            return (str.charAt(0).toUpperCase() + str.substring(1)).trim()
                .replace(/([a-z])([A-Z])/g, matches => `${matches[0]} ${matches[1]}`);
        }
    }
}

</script>


<style>

.stat {
    margin: 0.5rem 0;
}

.stat > .heading {
    display: inline-block;
    min-width: 8rem;
    color: #ddd;
}

.stat > .word {
    margin-left: 1.5rem;
}

</style>
