<template>
    <div class="timer-bar" :class="{ hidden }">
        <div class="time-left"
            :class="{ paused }"
            :style="{ animationDuration, animationName }"
            @animationstart="startTimer"
            @animationend="endTimer">
        </div>
    </div>
</template>


<script>

export default {
    name: 'timer-bar',

    props: {
        time: { type: Number, default: 60 }
    },

    data() {
        return {
            interval:  null,
            hidden:    true,
            paused:    false,
            transform: 'translateX(0)',
            barLength: 0,
            animationName: ''
        };
    },

    computed: {
        animationDuration() {
            return this.time + 's';
        }
    },

    methods: {
       setBarLength() {
            this.barLength = parseInt(window.getComputedStyle(this.$el).width);
        },

        hideAndReset() {
            clearInterval(this.interval);
            this.animationName = '';
            this.hidden = true;
            this.paused = false;
        },

        showAndStart() {
            this.barLength === 0 && this.setBarLength();
            this.hidden = false;
            this.animationName = 'countdown';
        },

        startTimer() {
            /* Alternative method of calculating timeLeft from time-left element
            const matrix = window.getComputedStyle(this.$el.childNodes[0]).transform,
              translateX = parseFloat(matrix.split(',')[4]),
                timeLeft = parseInt((this.barLength - translateX) / this.barLength * this.time);
            */
            let time = this.time;
            this.interval = setInterval(() => {
                this.$store.commit('updateTimeLeft', --time);
            }, 1000);
        },

        endTimer(ev) {
            clearInterval(this.interval);
            this.paused = true;
            this.transDelay = false;
            bus.$emit('end-timer');
        }
    },

    created() {
        bus.$on('play-word', () => {
            this.endTimer();
            this.hideAndReset();
        });
        bus.$on('clear-view', this.hideAndReset);
        bus.$on('start-timer', this.showAndStart);
        bus.$on('window-resize', this.setBarLength);
    }
}

</script>


<style>

@keyframes countdown {
    to {
        background-color: red;
        transform: translateX(100%);
    }
}

.timer-bar {
    position: relative;
    width: 100%;
    height: 1.375vw;
    margin-top: 2.0625vw;
    overflow: hidden;
    border-radius: 2px;
    box-sizing: border-box;
    transform: translateZ(0);
    transition: opacity 400ms;
}

.timer-bar.hidden {
    opacity: 0;
    visibility: hidden;
}

.time-left {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: lightgreen;
    border-radius: 2px;
    animation-timing-function: linear;
    animation-delay: 400ms;
    animation-fill-mode: forwards;
    will-change: background-color, transform;
}

.time-left.paused {
    animation-play-state: paused;
}

@media (min-width: 580px) {
    .timer-bar {
        height: 0.5rem;
        margin-top: 0.75rem;
    }
}

</style>
