<template>
    <main id="app" :class="'bg-' + background">
        <div class="ghost-panel top"></div>

        <div class="panel top" :class="{ show: showPanel, close }">
            <player-info position="top" placeholder="Choose opponent..." :name="oppName" :country="opponent.country" :message="oppMsg" :expression="expression" :score="opponent.gameScore"></player-info>
            <div class="inscription">{{ waitTop }}</div>
        </div>

        <div class="score-container">
            <score-table position="top" :selected="opponent.selected" :score="opponent.roundScore" @hidden="view === 'human' && clearView()" @shown="view === 'computer' && setExpression()" v-show="showOppScore"></score-table>
        </div>

        <button-set position="top" @hidden="getOpponent"></button-set>

        <div class="center-container" v-show="showCenter">
            <transition name="round-msg-transition" enter-active-class="animated-600 zoomIn" leave-active-class="animated-600 fadeOut" @after-enter="showRoundMsg = false">
                <div class="round-msg" v-show="showRoundMsg">Round {{ roundCount }}</div>
            </transition>
            <letter-set :set="letterSet" :tile-set="tileSet" :autoselect="settings.difficulty === 'easy'" @selected="updateSelected"></letter-set>
            <timer-bar :time="timer"></timer-bar>
        </div>

        <score-summary :opp="showOppSummary" :show="showSummary" @close-summary="showSummary = false" @show-menu="showMenu"></score-summary>

        <button-set position="bottom" @hidden="getOpponent"></button-set>

        <div class="score-container">
            <span v-show="showWaiting">Waiting for opponent...</span>
            <score-table position="bottom" :selected="player.selected" :score="player.roundScore" @click="nextRound" @hidden="clearView" v-show="showPlrScore && !plrWaiting"></score-table>
        </div>

        <div class="panel bottom" :class="{ close }">
            <player-info position="bottom" :name="settings.name" :country="settings.country" :score="player.gameScore"></player-info>
            <div class="inscription">{{ waitBottom }}</div>
        </div>

        <div class="ghost-panel bottom"></div>

        <modal heading="settings">
            <setting v-for="(s, key) in settingDefs" :heading="key" :options="s" :selected="settings[key]" :fn="key === 'dictionary' ? loadDict : undefined"></setting>
        </modal>

        <modal heading="rules">
            <ul>
                <li>Rearrange the letters to make the best word you can before the timer finishes.</li>
                <li>Move a letter by dragging it to the desired position using either your finger or a mouse. Using a trackpad is not recommended.</li>
                <li>Valid words must be at least three letters long and exist in the selected dictionary. Two-letter words are not accepted.</li>
                <li>A six-letter word gains one extra point. Use all the letters to gain two extra points.</li>
                <li>Failing to make a valid word results in one point being lost.</li>
                <li>A game will continue for as many rounds as you or a human opponent want.</li>
            </ul>
        </modal>

        <modal heading="stats">
            <div class="stats-category">
                <h2>Best</h2>
                <stat v-for="(s, key) in stats.best" :heading="key" :value="s.hasOwnProperty('value') ? s.value : s" :word="s.word" ></stat>
            </div>

            <div class="stats-category">
                <h2>Average</h2>
                <stat v-for="(s, key) in stats.average" :heading="key" :value="s.hasOwnProperty('value') ? s.value : s" :word="s.word"></stat>
            </div>
        </modal>
    </main>
</template>


<script>

import { mapGetters, mapMutations, mapState } from 'vuex';
import _random from 'lodash/random';

import loadScript from './modules/loadScript';
import getCountry from './modules/getCountry';
import settingDefs from './modules/settings';
import dict from './modules/dict';
import { getPoints } from './modules/letters';

import PlayerInfo from './components/PlayerInfo.vue';
import ScoreSummary from './components/ScoreSummary.vue';
import ScoreTable from './components/ScoreTable.vue';
import ButtonSet from './components/ButtonSet.vue';
import LetterSet from './components/LetterSet.vue';
import TimerBar from './components/TimerBar.vue';
import Modal from './components/Modal.vue';
import Setting from './components/Setting.vue';
import Stat from './components/Stat.vue';

export default {
    name: 'app',

    components: {
        PlayerInfo, ScoreSummary, ScoreTable, ButtonSet,
        LetterSet, TimerBar, Modal, Setting, Stat
    },

    data() {
        return {
            waitTop:        ['Hang a', 'Just a', 'One', 'Wait a'][_random(0, 3)],
            waitBottom:     ['second', 'sec', 'moment', 'mo', 'tick'][_random(0, 4)],
            showPanel:      true,   // Top panel
            showCenter:     true,   // Center container
            showRoundMsg:   false,
            showSummary:    false,  // Game summary table
            showOppScore:   false,
            showPlrScore:   false,
            oppScoreReady:  false,  // Human opponent's score is ready to show
            showWaiting:    false,  // Show waiting for opponent message
            close:          true,   // Close the panels
            expression:     '',     // Computer's current expression
            oppName:        '',
            oppMsg:         '',
            prevView:       '',
            oppWaiting:     false,  // Human opponent is waiting for player
            plrWaiting:     false,  // Player is waiting for human opponent
            plrBailed:      false,  // Player disconnected or ended current game
            countryUpdated: 1400000000000,
            settingDefs
        };
    },

    computed: {
        background() {
            return this.difficulties[this.settings.difficulty].background;
        },
        tileSet() {
            return this.settings.tileset === 'random' ?
                this.unlocked.tileset[_random(1, this.unlocked.tileset.length - 1)] :
                this.settings.tileset;
        },
        showOppSummary() {
            return this.prevView === 'human' || this.prevView === 'computer';
        },
        ...mapState(['id', 'difficulties', 'settings', 'stats', 'unlocked', 'view']),
        ...mapGetters(['letterSet', 'opponent', 'player', 'roundCount', 'scoreSummary', 'timer', 'timeLeftPc'])
    },

    watch: {
        opponent() {
            this.view === 'menu' || (this.oppName = this.opponent.name || 'Anonymous');
        }
    },

    methods: {
        getHumanOpponent(callback) {
            primus.readable && primus.destroy();
            primus = Primus.connect('https://play-word.com/', {
                reconnect: { min: 500, max: 10000, retries: 5 }
            });

            primus.on('end', () => {
                //console.info('Event: end primus connection');
                if (navigator.onLine && !this.plrBailed && this.view === 'human') {
                    this.showWaiting = false;
                    this.oppMsg = 'Your opponent bailed!';
                }
                this.clearLetterSets();
                primus.destroy();
                if (this.view !== 'menu') {
                    this.setView('menu');
                    this.showOppScore = false;
                    this.showPlrScore = false;
                    app.$children[0].$children[2].show = false;
                    app.$children[0].$children[6].show = false;
                }
                if (!callback) {
                    this.plrBailed ? setTimeout(this.nextView, 1000) : bus.$emit('clear-view', 'human');
                }
            });

            primus.on('data', msg => {
                //console.info('Primus event: data');
                if (msg.action === 'nextRound') {
                    this.oppWaiting = true;
                    if (this.plrWaiting) {
                        this.showOppScore = false;
                        this.showPlrScore = false;
                    }
                }
                msg.name && this.updateOpponent({ name: msg.name });
                msg.letterSets && this.updateLetterSets(msg.letterSets);
                if (msg.opponent) {
                    if (callback) {
                        this.oppName = window.innerWidth > 420 ? 'Found opponent...' : 'Found...';
                        callback();  // changeView('human')
                    }
                    callback = null;
                    this.updateOpponent(msg.opponent);
                }
                if (msg.selected || msg.score) {
                    const round = { player: 'opponent' };
                    msg.selected && (round.selected = msg.selected);
                    msg.score && (round.score = msg.score);
                    this.updateRound(round);
                    if (msg.score && this.showPlrScore) {
                        this.showOppScore = true;
                    } else {
                        this.oppScoreReady = true;
                    }
                    /* msg.score && this.updateGameScore({
                        player: 'opponent',
                        score:  msg.score.total
                    }); */
                }
            });

            primus.writable && primus.write({
                id:     this.id,
                action: 'newGame',
                player: this.settings
            });
        },

        getOpponent(callback) {
            this.clearLetterSets();
            const opponent = { name: '', type: this.view };
            if (typeof callback === 'function') {
                Primus ? this.getHumanOpponent(callback) : loadScript('primus.js', () => { this.getHumanOpponent(callback); });
                this.oppName = window.innerWidth > 420 ? 'Searching for opponent...' : 'Searching...';
            } else if (this.view === 'computer') {
                const computerName = this.difficulties[this.settings.difficulty].computer;
                opponent.name = computerName;
                opponent.country = computerName;
            }
            this.updateOpponent(opponent);
        },

        playWord() {
            primus.writable && primus.write({
                id:       this.id,
                action:   'playWord',
                selected: this.player.selected,
                score:    this.player.roundScore
            });
        },

        selectRndWord() {
            const words = dict.anagrams(this.letterSet.reduce((word, letterObj) => word + letterObj.letter, ''));
            let selected = '';
            switch (this.settings.difficulty) {
                case 'easy': selected = dict.shortest(words); break;
                case 'hard': selected = dict.longest(words); break;
                default: selected = words[_random(0, words.length - 1)];
            }
            return selected;
        },

        calcStats() {
            const score = this.player.roundScore,
                  word = score.word ? this.player.selected : '';

            if (word) {
                const best = this.stats.best,
                   newBest = { category: 'best' };

                if (word.length > best.wordLength.value) {
                    newBest.wordLength = { word, value: word.length };
                }
                if (score.word > best.wordScore.value) {
                    newBest.wordScore = { word, value: score.word };
                }
                if (score.total > best.roundScore.value) {
                    newBest.roundScore = { word, value: score.total };
                }
                Object.keys(newBest).length && this.updateStats(newBest);

                const average = this.stats.average,
                        count = average.wordLength.count + 1,
                        total = average.wordLength.total + word.length,
                        value = parseInt(((total / count) || 0).toFixed(0)),
                   newAverage = { category: 'average', wordLength: { count, total, value } };

                this.updateStats(newAverage);
            }
        },

        calcRoundScore(selected, isComputer) {
            const valid = selected && window[this.settings.dictionary] && dict.verify(selected) ? selected : false,
                   word = valid ? valid.split('').reduce((points, letter) => points + getPoints(letter), 0) : -1,
                 length = !valid ? 0 : this.letterSet.length === valid.length ? 2 : this.letterSet.length - 1 === valid.length ? 1 : 0,
                   time = !valid || isComputer ? 0 : this.timeLeftPc >= 50 ? 1 : 0,
                  total = word + length + time;
            return { word, length, time, total };
        },

        updateSelected(selected) {
            const score = this.calcRoundScore(selected);
            this.updateRound({ player: 'player', selected, score });
            //this.view === 'timer' && this.updateRound({ player: 'opponent', selected, score });
        },

        setExpression() {
            this.expression = this.player.roundScore.total > this.opponent.roundScore.total ? 'sad' : 'happy';
        },

        setSummaryExpression() {
            const totalScore = this.scoreSummary.totalScore,
                diff = totalScore[1] - totalScore[0];
            if (diff < 0 || totalScore[1] < 1) {
                this.expression = 'sad';
            } else if (diff > 0 && diff < 20) {
                this.expression = 'happy';
            } else if (diff > 20) {
                this.expression = 'bliss';
            } else {
                this.expression = 'neutral';
            }
        },

        showMenu() {
            this.expression = '';
            this.oppName = '';
            this.oppMsg = '';
            this.plrBailed = false;
            this.showPanel = true;
            this.showCenter = true;
            this.addGame();
            this.resetTimer();
            bus.$emit('show-menu');
        },

        startRound() {
            this.showRoundMsg = true;
            this.addRound();
            setTimeout(() => {
                bus.$emit('start-round');
            }, 200);
        },

        nextRound() {
            if (this.view === 'human') {
                primus.writable && primus.write({
                    id: this.id,
                    action: 'nextRound'
                });
                if (this.oppWaiting) {
                    this.showOppScore = false;
                    this.showPlrScore = false;
                } else {
                    this.plrWaiting = true;
                }
                this.oppScoreReady = false;
            } else {
                this.showOppScore = false;
                this.showPlrScore = false;
            }
        },

        nextView() {
            if (this.view === 'menu') {
                this.prevView !== 'menu' && this.removeLastRound();
                if (this.roundCount > 0) {
                    this.showCenter = false;
                    this.prevView === 'computer' && this.setSummaryExpression();
                    this.showSummary = true;
                } else {
                    this.removeLastGame();
                    this.showMenu();
                }
            } else {
                this.startRound();
            }
        },

        clearView() {
            if (this.view !== 'human' || this.oppWaiting) {
                this.plrWaiting = false;
                this.oppWaiting = false;
                this.showWaiting = false;
                bus.$emit('clear-view', this.view);
            } else if (this.plrWaiting) {
                setTimeout(() => {
                    this.showWaiting = true;
                }, 600);
            }
        },

        updateCountry(country) {
            const commit = country => {
                this.updateSettings({ country });
                this.countryUpdated = Date.now();
            };
            if (country) {
                commit(country);
            } else {
                getCountry().then(commit);
            }
        },

        loadDict() {
            window[this.settings.dictionary] || loadScript(this.settings.dictionary.toLowerCase() + '.js');
        },

        ...mapMutations(['addGame', 'addRound', 'clearLetterSets', 'decrementTimeOffset',
            'removeLastGame', 'removeLastRound', 'resetTimer', 'setView', 'updateGameScore',
            'updateLetterSets', 'updateOpponent', 'updateRound', 'updateSettings', 'updateStats'])
    },

    created() {
        loadScript(this.settings.dictionary.toLowerCase() + '.js');
        navigator.onLine && this.updateCountry();

        bus.$on('clear-view', (prev, sendPrimusMsg) => {
            this.prevView = prev;
            if (this.view !== 'human' && this.prevView === 'human' && sendPrimusMsg && primus.writable) {
                this.plrBailed = true;
                primus.write({ id: this.id, action: 'endGame' });
            }
            if (this.view === 'timer') {
                this.decrementTimeOffset();
                this.showPanel = false;
            }
            this.timer < 5 && this.setView('menu');
            sendPrimusMsg || setTimeout(this.nextView, 2000);
        });

        bus.$on('start-timer', () => {
            if (this.view === 'computer') {
                this.expression = 'neutral';
                const selected = this.selectRndWord(),
                      score = this.calcRoundScore(selected, true);
                //delete score.time;
                this.updateRound({ player: 'opponent', selected, score });
            }
        });

        bus.$on('end-timer', () => {
            if (this.view === 'human') {
                this.timeLeftPc === 0 && this.playWord();
                this.oppScoreReady && (this.showOppScore = true);
            } else {
                this.showOppScore = true;
            }
            this.showPlrScore = true;
            this.calcStats();
        });

        bus.$on('play-word', () => {
            this.view === 'human' && this.playWord();
        });

        bus.$on('online', () => {
            if (!this.settings.country || this.settings.country === 'Unknown' ||
                Date.now() - this.countryUpdated > 3600000) {
                this.updateCountry();
            }
            if (!this.settingDefs.dictionary.OWL) {
                this.$set(this.settingDefs.dictionary, 'OWL', 'Used by tournament Scrabblers in North America. <br>140,000 words of 3-10 letters.');
            }
        });

        bus.$on('offline', () => {
            if (typeof cordova === 'undefined' && typeof OWL === 'undefined' &&
                typeof caches === 'object' && 'serviceWorker' in navigator) {
                const request = new Request('owl.js');
                caches.open('word_cache_v1').then(cache => {
                    cache.match(request).then(response => {
                        if (!response) {
                            //console.info('owl.js not found in cache');
                            this.$delete(this.settingDefs.dictionary, 'OWL');
                            //console.info('Removed OWL dictionary option from Settings');
                        }
                    });
                });
            }
        });

        bus.$on('resize', () => {
            if (window.innerWidth > 420 && this.oppName === 'Searching...') {
                this.oppName = 'Searching for opponent...';
            } else if (window.innerWidth <= 420 && this.oppName === 'Searching for opponent...') {
                this.oppName = 'Searching...';
            }
        });
    },

    mounted() {
        document.getElementById('app').style.height = window.innerHeight + 'px';
        this.$nextTick(() => {
            this.showMenu();
            setTimeout(() => {
                this.close = false;
            }, 1000);
        });
    }
}

</script>


<style>

#app {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    letter-spacing: 0.04em;
    background-color: #1a5119;
    background-position: 50%;
}

.bg-bubbles  { background-image: url("data:image/svg+xml,%3Csvg width='100' height='100' viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11 18c3.866 0 7-3.134 7-7s-3.134-7-7-7-7 3.134-7 7 3.134 7 7 7zm48 25c3.866 0 7-3.134 7-7s-3.134-7-7-7-7 3.134-7 7 3.134 7 7 7zm-43-7c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm63 31c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zM34 90c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm56-76c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zM12 86c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm28-65c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm23-11c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm-6 60c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm29 22c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zM32 63c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm57-13c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm-9-21c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM60 91c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM35 41c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM12 60c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2z' fill='%23178816' fill-opacity='0.2' fill-rule='evenodd'/%3E%3C/svg%3E"), url('images/felt.jpg'); }
.bg-diamonds { background-image: url("data:image/svg+xml,%3Csvg width='180' height='180' viewBox='0 0 180 180' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M81.28 88H68.413l19.298 19.298L81.28 88zm2.107 0h13.226L90 107.838 83.387 88zm15.334 0h12.866l-19.298 19.298L98.72 88zm-32.927-2.207L73.586 78h32.827l.5.5 7.294 7.293L115.414 87l-24.707 24.707-.707.707L64.586 87l1.207-1.207zm2.62.207L74 80.414 79.586 86H68.414zm16 0L90 80.414 95.586 86H84.414zm16 0L106 80.414 111.586 86h-11.172zm-8-6h11.173L98 85.586 92.414 80zM82 85.586L87.586 80H76.414L82 85.586zM17.414 0L.707 16.707 0 17.414V0h17.414zM4.28 0L0 12.838V0h4.28zm10.306 0L2.288 12.298 6.388 0h8.198zM180 17.414L162.586 0H180v17.414zM165.414 0l12.298 12.298L173.612 0h-8.198zM180 12.838L175.72 0H180v12.838zM0 163h16.413l.5.5 7.294 7.293L25.414 172l-8 8H0v-17zm0 10h6.613l-2.334 7H0v-7zm14.586 7l7-7H8.72l-2.333 7h8.2zM0 165.414L5.586 171H0v-5.586zM10.414 171L16 165.414 21.586 171H10.414zm-8-6h11.172L8 170.586 2.414 165zM180 163h-16.413l-7.794 7.793-1.207 1.207 8 8H180v-17zm-14.586 17l-7-7h12.865l2.333 7h-8.2zM180 173h-6.613l2.334 7H180v-7zm-21.586-2l5.586-5.586 5.586 5.586h-11.172zM180 165.414L174.414 171H180v-5.586zm-8 5.172l5.586-5.586h-11.172l5.586 5.586zM152.933 25.653l1.414 1.414-33.94 33.942-1.416-1.416 33.943-33.94zm1.414 127.28l-1.414 1.414-33.942-33.94 1.416-1.416 33.94 33.943zm-127.28 1.414l-1.414-1.414 33.94-33.942 1.416 1.416-33.943 33.94zm-1.414-127.28l1.414-1.414 33.942 33.94-1.416 1.416-33.94-33.943zM0 85c2.21 0 4 1.79 4 4s-1.79 4-4 4v-8zm180 0c-2.21 0-4 1.79-4 4s1.79 4 4 4v-8zM94 0c0 2.21-1.79 4-4 4s-4-1.79-4-4h8zm0 180c0-2.21-1.79-4-4-4s-4 1.79-4 4h8z' fill='%23178816' fill-opacity='0.2' fill-rule='evenodd'/%3E%3C/svg%3E"), url('images/felt.jpg'); }
.bg-pluses   { background-image: url("data:image/svg+xml,%3Csvg width='60'  height='60'  viewBox='0 0 60 60' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%23178816' fill-opacity='0.2'%3E%3Cpath d='M36 34v-4h-2v4h-4v2h4v4h2v-4h4v-2h-4zm0-30V0h-2v4h-4v2h4v4h2V6h4V4h-4zM6 34v-4H4v4H0v2h4v4h2v-4h4v-2H6zM6 4V0H4v4H0v2h4v4h2V6h4V4H6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E"), url('images/felt.jpg'); }
.bg-stars    { background-image: url("data:image/svg+xml,%3Csvg width='24'  height='24'  viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23178816' fill-opacity='0.2'%3E%3Cpolygon fill-rule='evenodd' points='8 4 12 6 8 8 6 12 4 8 0 6 4 4 6 0 8 4'/%3E%3C/g%3E%3C/svg%3E"), url('images/felt.jpg'); }
.bg-wiggles  { background-image: url("data:image/svg+xml,%3Csvg width='52'  height='26'  viewBox='0 0 52 26' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%23178816' fill-opacity='0.2'%3E%3Cpath d='M10 10c0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6h2c0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4v2c-3.314 0-6-2.686-6-6 0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6zm25.464-1.95l8.486 8.486-1.414 1.414-8.486-8.486 1.414-1.414z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E"), url('images/felt.jpg'); }

.ghost-panel {
    height: 7vh;
    visibility: hidden;
    pointer-events: none;
}

.panel {
    display: flex;
    position: absolute;
    left: 0;
    z-index: 2;
    width: 100%;
    height: 50%;
    background-color: #63240b;
    background-image: url('images/panel.jpg');
    box-shadow: 0 0 10px #2c2c2c;
    transition: box-shadow 1s, transform 1s ease-in-out;
}

.panel.top {
    top: 0;
    background-position: 25%;
    border-bottom: 1px solid #111;
    transform: translateY(-100%);
}

.panel.top.show {
    transform: translateY(calc(-100% + 7vh));
}

.panel.bottom {
    bottom: 0;
    background-position: 75%;
    border-top: 1px solid #111;
    transform: translateY(calc(100% - 7vh));
}

.panel.close {
    box-shadow: none;
    transform: translateY(0) !important;
}

.inscription {
    margin: auto;
    font: normal 3rem serif;
    font-style: italic;
    color: rgba(255, 255, 255, 0.33);
    text-shadow: 0 1px;
}

.score-container {
    display: flex;
    align-items: center;
    min-height: 25vh;
    color: #aaa;
    font-size: 1.25rem;
    pointer-events: none;
}

.center-container {
    position: relative;
    margin-bottom: -3.4375vw;
    z-index: 1;
}

.round-msg {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    font: bold 3.3rem 'Raleway Bold', sans-serif;
    width: 100%;
    height: calc(11vw + 4px);
    color: #ccc;
    text-shadow: 0 0 0.25rem #333;
}

.stats-category + .stats-category {
    margin-top: 4rem;
}

.stats-category > h2 {
    text-transform: uppercase;
}

@media (min-width: 580px) {
    .center-container {
        margin-bottom: -1.25rem;
    }

    .round-msg {
        height: calc(4rem + 4px);
    }
}

@media (min-height: 680px) {
    .ghost-panel {
        height: 3rem;
    }

    .panel.top.show {
        transform: translateY(calc(-100% + 3rem));
    }

    .panel.bottom {
        transform: translateY(calc(100% - 3rem));
    }
}

</style>
